@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

body{
    font-family: 'Noto Sans TC', sans-serif;
    margin-top: 55px;
	}


.container {
    margin-top: 0px;
    margin-left: 50%;
    margin-right: 50%;
}

.top  {
    background-color: #16D0FF;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 45px;
    box-shadow: 1px 1px 10px #4F4F4F;
    -webkit-box-shadow: 1px 1px 10px #4F4F4F;
	
}

.top {
    background-color: #E0FF00;
    border-radius: 6px;
    height: 95px;
    width: 95px;
    line-height: 95px;
    text-align: center;
    color: white;
    font-size: 11px;
    transition: 1s ease-in-out;
}

.top:hover {
    transform: translate(25px, 25px);
    background-color: #FFCE00;	
}


.cinter  {
    background-color: #FFEF15;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	flex: 2;
	   box-shadow: 1px 1px 10px #4F4F4F;
    -webkit-box-shadow: 1px 1px 10px #4F4F4F;
}

.cinter {
    background-color: #FF6E2D;
    border-radius: 6px;
    height: 95px;
    width: 95px;
    line-height: 95px;
    text-align: center;
    color: white;
    font-size: 11px;
    transition: 1s ease-in-out;
	    margin-bottom: 45px;

}

.cinter:hover {
    transform: rotate(180deg);
    background-color: #FF797B;	
}

.down:hover{
	background-color: #76FF15;
 	height: 95px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	flex: 3;
 	border-radius: 6px;
	    transform: scale(2, 2);

}
.down{
    background-color: #C2FF97;
    height: 95px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 3;
    border-radius: 6px;
    transition: 1s ease-in-out;
	   box-shadow: 1px 1px 10px #4F4F4F;
    -webkit-box-shadow: 1px 1px 10px #4F4F4F;
}
